/* Hide default text boxes */
select {
  display: none;
}

html,
body {
	padding: 0;
	margin: 0;
	background: transparent;
}

/* Use OS default fonts */
body {
	font-family: -apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen-Sans,
		Ubuntu,
		Cantarell,
		'Helvetica Neue',
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji',
		'Segoe UI Symbol';
	text-rendering: optimizeLegibility;
	font-feature-settings: 'liga', 'clig', 'kern';
}

label{
	font-size: 12px;
	font-weight: bold;
	margin: 0 2px 4px;
    text-transform: uppercase;
	float: left;
}

#pageHeader{
	background: #4365E2;
	padding: 20px 0 20px 0;
	box-sizing: border-box;
}

#topInfo{
}

#gettingStarted{
	background: #4365E2;
	color: #FFF;
	padding: 20px 0 20px 0;
}

	#gettingStarted .nice-select{
		color: #000;
	}

	#exampleDataDownload{
		padding-top: 20px;
		display: none;
	}

#operations{
	display: none;
	background: #E9ECEF;
	padding: 20px 0 20px 0;
}

	.btn-primary.disabled,
	.btn-primary:disabled {
		color: #000 !important;
		background-color: #c7c7c7 !important;
		border-color: #a5a5a5 !important;
	}

	.btn-secondary {
		color: #fff !important;
		background-color: #1993fe !important;
		border-color: #0b8cff !important;
	}

#renamerInfo{
	display: none;
	background: #FFF;
	padding: 20px 0 20px 0;
}

#errorListPre{
	display: none;
    background: #ff4242;
    color:#FFF;
	padding: 20px 0 20px 0;
}

	#errorListPre hr{
		border-top: 1px solid rgba(255,255,255,.5)
	}

#errorLists{
	display: none;
    background: #ff4242;
    color:#FFF;
    padding: 40px 0 1px 0;
}

	#errorLists hr{
		border-top: 1px solid rgba(255,255,255,.5)
	}

	#errorLists .row{
		margin-bottom: 40px;
	}

	#errorFilesMissingFolder{
		font-weight: bold;
	}

	#errorOutputFolder{
		font-weight: bold;
	}

#results{
	display: none;
}

#bottomOperations{
	padding: 20px 0 20px 0;
}

header h1 {
	font-size: 60px;
	font-weight: 200;
	margin: 0;
	padding: 0;
	opacity: 0.7;
}

#main {
	display: block;
	text-align: center;
}

.right-align{
	text-align: right;
}

#selectRenamer{
	width: 100%;
}
	
#htmlout{
	overflow:auto;
	width:100%;
	height: 400px;
}
	
#htmlout table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#htmlout table td, #htmlout table th {
  border: 1px solid #ddd;
  padding: 8px;
  white-space: nowrap;
}

#htmlout table tr:nth-child(even){background-color: #f2f2f2;}

#htmlout table tr:hover {background-color: #ddd;}

#htmlout table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}





/** SPINNER CREATION **/

.loader {
	position: relative;
	text-align: center;
	margin: 15px auto 35px auto;
	z-index: 9999;
	display: block;
	width: 80px;
	height: 80px;
	border: 10px solid rgba(0, 0, 0, .3);
	border-radius: 50%;
	border-top-color: #000;
	animation: spin 1s ease-in-out infinite;
	-webkit-animation: spin 1s ease-in-out infinite;
  }
  
  @keyframes spin {
	to {
	  -webkit-transform: rotate(360deg);
	}
  }
  
  @-webkit-keyframes spin {
	to {
	  -webkit-transform: rotate(360deg);
	}
  }
  
  
  /** MODAL STYLING **/
  
  .modal-content {
	border-radius: 0px;
	box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.7);
  }
  
  .modal-backdrop.show {
	opacity: 0.75;
  }
  
  .loader-txt {
	p {
	  font-size: 13px;
	  color: #666;
	  small {
		font-size: 11.5px;
		color: #999;
	  }
	}
  }