/* Hide default text boxes */
select {
  display: none;
}

html,
body {
	padding: 0;
	margin: 0;
	background: transparent;
}

/* Use OS default fonts */
body {
	font-family: -apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen-Sans,
		Ubuntu,
		Cantarell,
		'Helvetica Neue',
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji',
		'Segoe UI Symbol';
	text-rendering: optimizeLegibility;
	font-feature-settings: 'liga', 'clig', 'kern';
}

label{
	font-size: 12px;
	font-weight: bold;
	margin: 0 2px 4px;
    text-transform: uppercase;
	float: left;
}

abbr, acronym
{
	text-decoration: none;
	border-bottom: .1em dotted;
	cursor: help;
}

#pageHeader{
	background: #4365E2;
	padding: 20px 0 20px 0;
	box-sizing: border-box;
}

#topInfo{
}

#gettingStarted{
	background: #4365E2;
	color: #FFF;
	padding: 20px 0 20px 0;
}

	#gettingStarted .nice-select{
		color: #000;
	}

	#exampleDataDownload{
		display: none;
	}

#operations{
	display: none;
	background: #E9ECEF;
	padding: 20px 0 20px 0;
}

	.btn-success.disabled,
	.btn-success:disabled {
		color: #000 !important;
		background-color: #c7c7c7 !important;
		border-color: #a5a5a5 !important;
	}

	.btn-secondary {
		color: #fff !important;
		background-color: #1993fe !important;
		border-color: #0b8cff !important;
	}

#renamerInfo{
    display: none;
    background: #4383e2;
    padding: 20px 0 20px 0;
    color: #FFF;
    border: solid #FFF;
    border-width: 0px 10px 10px 10px;
}

	#renamerInfo a:link,
	#renamerInfo a:visited{
		color: #FFF;
		text-decoration: underline;
	}
	#renamerInfo a:hover,
	#renamerInfo a:active{
		color: #FFF;
		text-decoration: none;
	}

	.noPrefix{
		background: black;
		color: white;
		padding: 0px 3px 0 3px;
	}

#errorListPre{
	display: none;
    background: #ff4242;
    color:#FFF;
	padding: 20px 0 20px 0;
}

	#errorListPre hr{
		border-top: 1px solid rgba(255,255,255,.5)
	}

#errorLists{
	display: none;
    background: #ff4242;
    color:#FFF;
    padding: 40px 0 1px 0;
}

	#errorLists a:link,
	#errorLists a:visited{
		text-decoration: underline;
		color: #FFF;
	}
	#errorLists a:hover,
	#errorLists a:active{
		text-decoration: none;
		color: #FFF;
	}

	#errorLists hr{
		border-top: 1px solid rgba(255,255,255,.5)
	}

	#errorLists .row{
		margin-bottom: 40px;
	}

	#errorFilesMissingFolder,
	#errorExtraFilesFolder{
		font-weight: bold;
	}

	#errorOutputFolder{
		font-weight: bold;
	}

#results{
	display: none;
	padding: 20px 0 0 0;
}

#bottomOperations{
	padding: 20px 0 20px 0;
}

header h1 {
	font-size: 60px;
	font-weight: 200;
	margin: 0;
	padding: 0;
	opacity: 0.7;
}

#main {
	display: block;
	text-align: center;
}

.right-align{
	text-align: right;
}

#selectRenamer{
	width: 100%;
}
	
#htmlout{
	overflow:auto;
	width:100%;
	height: 400px;
}
	
#htmlout table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#htmlout table td, #htmlout table th {
  border: 1px solid #ddd;
  padding: 8px;
  white-space: nowrap;
}

#htmlout table tr:nth-child(even){background-color: #f2f2f2;}

#htmlout table tr:hover {background-color: #ddd;}

#htmlout table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}





/** SPINNER CREATION **/

.loader {
	position: relative;
	text-align: center;
	margin: 15px auto 35px auto;
	z-index: 9999;
	display: block;
	width: 80px;
	height: 80px;
	border: 10px solid rgba(0, 0, 0, .3);
	border-radius: 50%;
	border-top-color: #000;
	animation: spin 1s ease-in-out infinite;
	-webkit-animation: spin 1s ease-in-out infinite;
  }
  
  @keyframes spin {
	to {
	  -webkit-transform: rotate(360deg);
	}
  }
  
  @-webkit-keyframes spin {
	to {
	  -webkit-transform: rotate(360deg);
	}
  }
  
  /** MODAL STYLING **/
  .modal-success .modal-content{
	background-color: #28a746;
	color: #FFF;
  }

	.modal-success .close{
		color: #FFF;
	}

  .modal-error .modal-content{
	background-color: #ff4242;
	color: #FFF;
  }

	.modal-error .close{
		color: #FFF;
	}

  .modal-content {
	border-radius: 0px;
	box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.7);
  }
  
  .modal-backdrop.show {
	opacity: 0.75;
  }
  
  .loader-txt {
	p {
	  font-size: 13px;
	  color: #666;
	  small {
		font-size: 11.5px;
		color: #999;
	  }
	}
  }






#blah{
	background: pink;
}


  .lds-ring {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
	float: right;
  }
  .lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 64px;
	height: 64px;
	margin: 8px;
	border: 8px solid #4365E2;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #4365E2 transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
  }
  @keyframes lds-ring {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }
  


#processingProgressContainer{
	margin: 20px 0 20px 0;
	
}
	#processingProgressBackground {
		background: #e9ecef;
		height: 2px;
	}

	#processingProgressBar {
		margin: -5px 0 0 0;
		height: 8px;
		background: #4365E2;
	}

	#processingProgressBarPercentage {
		text-align: right;
	}